<!-- content -->
<section id="content">
    <div class="main">
    <table cellspacing="0" cellpadding="0"><tr><td class="t_f" id="postmessage_84008946">
        <font size="5"><font size="4"><font color="#0000ff"><font size="4">&nbsp; &nbsp;&nbsp; &nbsp; 原本写帖子是为了记录咱小家从无到有、从毛坯到小窝的经历，以后再来看时想必别有一番滋味，
            木想到还得到了众多意友的关注和回复<img src="http://www.deyi.com/static/image/smiley/deyiemotion/boy-clap.gif" onload="thumbImg(this)" alt="" />。</font><font size="4">&nbsp; &nbsp;&nbsp;&nbsp;首先感谢各位意友的支持，感谢大伙和我们这个小家庭一起见证了幸福小窝的蜕变；还有感谢小懒和老妈的辛苦付出，有了你们咱这个小家才如此温暖<img src="http://www.deyi.com/static/image/smiley/deyiemotion/kiss.gif" onload="thumbImg(this)" alt="" />；最后还有感谢钟工，都说装修会是个后悔工程，原本做好了斗智斗勇、一场持久战的准备，一路走下来却发现并非这么夸张，原来一个好的装修经理比神马都重要，谢谢soho<img src="http://www.deyi.com/static/image/smiley/deyiemotion/top.gif" onload="thumbImg(this)" alt="" />！！<br />
        </font></font></font></font><br />
        <font size="5"><font size="4"><font color="#0000ff"><font size="4"><font color="#0000ff"><font face="Calibri, sans-serif "><font size="4"><font size="4"><font color="#0000ff"><font face="宋体 ">&nbsp; &nbsp;&nbsp;&nbsp;一晃毕业已经N年，前段时间和几个</font><font face="宋体 ">哥们在广东聚会，大家</font></font></font><font color="#0000ff"><font face="宋体 "><font size="4">再</font></font><font face="宋体 "><font size="4">坐在一起吃饭时没人会畅想未来，我们聊的全是哪个牌子的奶粉更好，哪个牌子的车子</font></font><font face="宋体 "><font size="4">好还不贵，种种生活琐碎……。</font></font></font><font face="宋体 ">So，装修告一段落，生活仍将继续，</font></font></font><font face="宋体 "><font size="4">希望我们能有勇气去安于平淡，能安于平淡就是最大的不一样，谢谢各位的陪伴<img src="http://www.deyi.com/static/image/smiley/deyiemotion/girl-Xmas.gif" onload="thumbImg(this)" alt="" />！</font></font></font></font></font></font></font><font size="5"><font size="4"><font color="#0000ff"><font size="4"><font color="#0000ff"><font face="宋体 "><font size="4"><br />
    </font></font></font></font></font></font></font><br />
        <font size="5"><font size="4"><font color="#0000ff"><font size="4"><font color="#0000ff"><font face="宋体 "><font size="4"><img src="http://imga.deyi.com/album/201510/29/1044304xxii7u4sie7xsu7.jpg" onload="thumbImg(this)" alt="" /><br />
            <br />
        </font></font></font></font></font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/1044304xxii7u4sie7xsu7.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104430cqj2ecp5oeqoc2wj.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104431z3a3lami6qjx3m6i.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104431jwymht2t1tqmjzxm.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104431c8wddafaczaxckn5.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104431754s773b40307pkr.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104432cm136f3ultmfl2u1.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104432oflgg6sza656uaum.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104432i36kh9kk9u4fs3s4.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104432qqiev97vqhopq7ii.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/1044333bxjmz3bsa2253x2.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104433xb0kxfz0f701nxok.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104433zbo7awmmec2wk722.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104433mr8hm4megy6fcmrg.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104434zorja28izghkjimg.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><img src="http://imga.deyi.com/album/201510/29/104434djd77vw007w65ur4.jpg" onload="thumbImg(this)" alt="" /><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
        <font face="宋体 "><font size="4"><font color="#0000ff"><br />
        </font></font></font><br />
    </td></tr></table>
</div>
</section>